In [2]:

from utilities.download import download_and_read_json_xz

# Example usage
url = "http://dadosabertos.c3sl.ufpr.br/curitibaurbs/2023_11_25_tabelaLinha.json.xz"
df = download_and_read_json_xz(url)

                DIA            NUM
count  66608.000000   66608.000000
mean       1.775748  121493.539215
std        0.810949   48848.207617
min        1.000000  101001.000000
25%        1.000000  104814.000000
50%        2.000000  105929.000000
75%        2.000000  110093.000000
max        3.000000  660104.000000